@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    /* Ensure it is above other elements */
}

.note-editor-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .note-editor-content h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .note-editor-content h3 {
    font-size: 1.75rem;
    font-weight: bold;
  }
